<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.ain.mapper.MemberMapper">
    <insert id="insertMember" parameterType="com.team.ain.dto.MemberJoin">
        INSERT INTO member (
            email,
            password,
            name,
            phone_number,
            created_at
        ) VALUES (
            #{email},
            #{password},
            #{name},
            #{phoneNumber},
            now()
        )
    </insert>

    <update id="updateProfile" parameterType="com.team.ain.dto.MemberProfile">
        UPDATE member 
        SET profile_picture_url = #{profile_picture_url} 
        WHERE id = #{id}
    </update>

    <select id="findByEmail" parameterType="String" resultType="com.team.ain.dto.Member">
        SELECT * FROM member WHERE email = #{email}
    </select>
    <select id="findByPhoneNumber" parameterType="String" resultType="com.team.ain.dto.Member">
        SELECT * FROM member WHERE phone_number = #{phoneNumber}
    </select>
</mapper>